@import "tailwindcss";


/* приклад плавного зсуву/прозорості */
.page-enter-from { opacity: 0; transform: translateY(10px); }
.page-enter-active { transition: opacity 0.25s ease, transform 0.25s ease; }
.page-enter-to { opacity: 1; transform: translateY(0); }

.page-leave-from { opacity: 1; transform: translateY(0); }
.page-leave-active { transition: opacity 0.2s ease, transform 0.2s ease; }
.page-leave-to { opacity: 0; transform: translateY(-6px); }





:root {
    --bg: #ffffff;
    --text: #0f172a;
    --card-bg: #ffffff;
}

:root.dark {
    --bg: #0b1220;
    --text: #e2e8f0;
    --card-bg: #111827;
}

html, body {
    background: var(--bg);
    color: var(--text);
}
.card {
    background: #fff;
    color: #111827;
}
:root.dark .card {
    background: #111827;
    color: #e5e7eb;
}

:root.dark .home {
    background: #0b1220;
    color: #e5e7eb;
}

:root.dark .main {
    background: #0b1220;
    color: #e5e7eb;
}